﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">ANASAYFA</a></li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hadisler <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">İman</a></li>
                            <li><a href="#">İbadet</a></li>
                            <li><a href="#">Ahlak</a></li>
                            <li><a href="#">Zikir</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Etkinlikler</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="">Soru-Cevap</a></li>
                    <li><a href="#">SSS</a></li>
                    <li><a href="#">Uyeol-Giris</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li><a href="#">Admin Paneli</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="~/Content/img/Türk.png" /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><img src="~/Content/img/Türk.png" /></a></li>
                            <li><a href="#"><img src="~/Content/img/ıng.png" /></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="col-md-2 " style="background-image:url('/Content/img/gul.png');background-repeat:repeat;height:600px;position:fixed">

    </div>
    <div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br />
            @RenderBody()
            <br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="col-md-2 " style="background-image:url('/Content/img/gul.png');background-repeat:repeat;height:600px;right:0px;position:fixed;">

    </div>

    <div class="navbar-inverse navbar-fixed-bottom">

        <div class="container ">

            <hr />
            <footer class="white ">
                <div class="col-md-4"><p>&copy; @DateTime.Now.Year - My ASP.NET Application</p></div>
                <div class="col-md-4 ">TEL :05356791695<br />TEL :05478951238</div>
                <div class="col-md-4">Adress :Sakarya Üniversitesi Bilgisayar ve Bilişim Bilimleri Fakültesi Bilgisayar Mühendisliği Binası SAKARYA<br /><br /></div>

            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
