﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

.white{
    color:white;
}
.pad{
     padding-top:5px;
      padding-left:5px;
      
    padding-right:5px;
}
.pad-top{
    padding-top:5px;
}
.pad-bottom{
    padding-bottom:5px;
}
.pad-left{
    padding-left:5px;
}
.pad-right{
    padding-right:5px;
}